@charset "utf-8";
@import "reset.css";

/* --------------------------------------------------
   body
-------------------------------------------------- */

body{
  width: 100%;
  margin: 0;
  font-size: 100%;
  font-family: Helvetica,"メイリオ", sans-serif;
  background: #f7f6f4;
  background: url(../img/html_bg.png);
  color: #7a6e7e;
}

/* --------------------------------------------------
   elements
-------------------------------------------------- */
a:link,
a:hover,
a:active,
a:visited{
  color: #ffb515;
}

/* --------------------------------------------------
   header
-------------------------------------------------- */
#containerHeader{
  width: 100%;
  margin: 0;
}

header#global{
  width: 100%;
  height: 30px;
  margin: 0;
  background: #2a2a2a;
  color: white;
}

header#global a{
  text-decoration: none;
  color: white;
}

header#global a:hover{
  background: #bf4040;
}

.header_inner{
  width: 1200px;
  margin: 0 auto;
}

.page_logo{
  float: left;
}

.link_top{
  float: left;
  width: 100px;
  height: 30px;
  font-weight: bold;
  text-align: center;
  line-height: 30px;
}

.link_logout{
  float: right;
  width: 100px;
  height: 30px;
  text-align: center;
  line-height: 30px;
}

/* --------------------------------------------------
   footer
-------------------------------------------------- */
#containerFooter{
  float: left;
  width: 100%;
  //margin: 30px auto 0 auto;
  background: white;
  color: #7a6e7e;
  //position:absolute;
  //bottom: 20px;
  text-align: center;
}

#containerFooter a:link,
#containerFooter a:hover,
#containerFooter a:active,
#containerFooter a:visited{
  text-decoration: none;
  color: #7a6e7e;
}

/* --------------------------------------------------
   main
-------------------------------------------------- */
#containerMain{
  width: 1200px;
  margin: 0 auto;
}

/* --------------------------------------------------
   nav
-------------------------------------------------- */

#wrapperNav{
  float: left;
  width: 1200px;
  margin: 0 auto;
}

nav,
ul#navs{
  float: left;
  width: 1200px;
}

ul#navs li{
  float: left;
  width: 100px;
  height: 30px;
  margin: 10px 10px 0 0;
}

ul#navs a{
  float: left;
  width: 100px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  text-decoration: none;
  color: white;
  background: #c4cde0;
  border-radius: 5px;
}

ul#navs a:hover{
  background: #5f6d9e;
}

/* --------------------------------------------------
   index
-------------------------------------------------- */
#wrapperLogin{
  width:1200px;
  height: 600px;
  margin: 0 auto;
}

#wrapperLogin .welcome{
  width: 980px;
  margin: 200px auto;
}

#wrapperLogin span{
  width: 980px;
  font-size: 30px;
  float: left;
  text-align: center;
  margin: 0 0 80px 0;
}

#wrapperLogin .wrapper_btn_auth{
  width:980px;
  margin: 100px auto;
  text-align:center;
}

#wrapperLogin a.btn_auth:link,
a.btn_auth:visited{
  background: #39D url(http://s.twimg.com/a/1277334364/images/bg-btn-blue.png) repeat-x 0 0;
  border: 1px solid #39D;
  color: #FFF;
  font-weight: 700;
  margin: 0 5px 0 0;
  padding: 4px 10px 5px;
  text-shadow: 0 -1px 0 #39D;
  text-decoration: none;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
  border:none;
}

#wrapperLogin a.btn_auth:hover{
  //background: #fc9200;
}

#wrapperLogin a.btn_auth:active{
  //background: #fc9200;
  position: relative;
  top:1px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  border:none;
}

/*
-webkit-gradient(linear, 開始する位置, 終了する位置, from(開始する色), to(#ff0)終了する色));
*/

/* --------------------------------------------------
   wrapper content
-------------------------------------------------- */

#wrapperContent{
  float: left;
  width: 1200px;
  margin: 10px 0 0 0;
}

/* --------------------------------------------------
   user info
-------------------------------------------------- */

ul#userInfo{
  float:left;
  width: 100px;
  background: white;
  border-radius: 10px;
  text-align: center;
}

#userInfo li.img,#userInfo li.sc_name{
  margin:5px 0;
}

/* --------------------------------------------------
   year list
-------------------------------------------------- */
#listYears{
  float: left;
  width: 1000px;
  height: 100px;
  padding: 0 0 0 10px;
}

#listYears input.left{
  float: left;
  width: 30px;
  height: 100px;
}

#listYears input.right{
  float: right;
  width: 30px;
  height: 100px;
}


#listYears ul li{
  float: left;
  width: 200px;
  hight: 100px;
  text-align: center;
  line-height: 100px;
  margin: 0 10px 0 0;
}

/* --------------------------------------------------
   list months
-------------------------------------------------- */
#listMonth{
  float: left;
  width: 100px;
  height: 1000px;
}

#listMonths ul{
  float: left;
  width: 100px;
}
#listMonths li{
  float: left;
  width:100px;
  height: 20px;
  margin: 10px 0 10px 0;
  background: white;
  text-align: right;
}

/* --------------------------------------------------
   list days
-------------------------------------------------- */
#listDays{
  float: left;
  //width: 100px;
  height: 1000px;
}

#listDays ul{
  float: left;
  //width: 100px;
}
#listDays li{
  float: left;
  clear: both;
  width: 50px;
  height: 20px;
  margin: 10px 0 10px 0;
  background: white;
  text-align: right;
}

/* --------------------------------------------------
   list tweets
-------------------------------------------------- */
#listTweets{
  float: left;
  //width: 100px;
  height: 1000px;
}

#listTweets ul{
  float: left;
  //width: 100px;
}
#listTweets li{
  float: left;
  width: 50px;
  height: 20px;
  margin: 10px 0 10px 0;
}

/* --------------------------------------------------
   style for initialize page
-------------------------------------------------- */

h2.init{
  width: 1200px;
  float: left;
  text-align:center;
  font-size: 200%;
  border-bottom: solid 1px #998877;
  margin: 20px 0 0 0;
}

ul#userInfo .init{
  float:left;
  width: 100px;
  background: white;
  border-radius: 10px;
  text-align: center;
}

#userInfo.init li.img,#userInfo.init li.sc_name{
  margin:5px 0;
}

#areaInit{
  //float: left;
  width: 1000px;
  margin: 0 auto;
}