@charset "utf-8";

/* --------------------------------------------------
   dashbord
-------------------------------------------------- */
#wrap-dashbord{ 
  float: left;
  width: 1200px;
  height: 123px;
  font-family: 'Questrial', sans-serif;
}

#wrap-dashbord .space{ 
  width: 100%;
  height: 10px;
}

#wrap-dashbord .inner{ 
  height: 123px;
  position: fixed;
  top: 40px;
  border-bottom: solid 2px #808080;
  background: black;
  z-index: 1000;
  opacity: 1;
  //background: url(../img/html_bg.png);
  //background: url(http://subtlepatterns.com/patterns/lightpaperfibers.png);  
  //background: url( http://subtlepatterns.com/patterns/exclusive_paper.png);  
 
}

#wrap-term-selectors{
  float: left;
  width: 100%;
}

#wrap-list-years{ 
  float: left;
  width: 100%;
}

#wrap-list-months{ 
  float: left;
  width: 100%;
}

#wrap-list-days{ 
  float: left;
  width: 100%;
}

.list-years,
.list-months,
.list-days{ 
  float: left;
  width: 100%;
}

.list-months{
  display: none ;
}

.list-days{ 
  display: none;
}

.list-years li a,
.list-months li a,
.list-days li a{ 
  float: left;
}

.list-months li a,
.list-days li a{ 
  width: 15px;

 }