@charset "utf-8";

/* --------------------------------------------------
   statuses.import
-------------------------------------------------- */
#wrap-import{ 
  float: left;
  width: 100%;
}

#wrap-import h1{
  width: 1200px;
  float: left;
  text-align:center;
  font-size: 200%;
  border-bottom: solid 1px #987;
  margin: 20px 0 0 0;
}

.user-info{
  float:left;
  width: 100px;
  background: white;
  border-radius: 10px;
  text-align: center;
}

.user-info li{
  margin: 5px 0;
}