@charset "utf-8";

/* --------------------------------------------------
   users.sent_tweets
-------------------------------------------------- */
#wrap-main{ 
  float: left;
  width: 500px
}

#wrap-timeline{ 
  float: left;
  width: 100%;
}

#wrap-timeline .cover{ 
  width: 100%;
  position: relative;
  top: 0;
  background: #F2EEE6;
  opacity: 0;
  //height: 100px;
  z-index: 100;
  color: white;
}

#wrap-timeline .cover span{ 
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50px;
  left: 0;
  font-size: 200%;
  font-family: impact;
  color: #08C;
  //background: url(../img/ajax-loader.gif) no-repeat;
}

#wrap-timeline a{ 
  color:#CD8500;
}

.wrap-each-status{ 
  float: left;
  clear: both;
  width: 500px;
  font-size: 14px;
  border-top: solid 1px #fefefe;
  border-bottom: solid 1px #d7d7d7;  
  background: #f2eee6;
}

.wrap-each-status:hover{
  background: #e8e0cf;
}

.profile-image{ 
  float: left;
  width: 58px;
  height: 58px;
  padding: 10px;
}

.profile-image .viewport{
  width: 48px;
  height: 48px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
}

.status-content{ 
  float: left;
  width: 412px;
  padding: 10px 10px 10px 0;
  color: #49360D;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
  cursor: pointer;
}

.status-content .top .date{ 
  float: right;
}

.status-content .text{ 
  float: left;
  width: 100%;
  padding: 10px 10px 10px 0;
  line-height: 20px;
 }

.status-content .top{ 
  float: left;
  width: 100%;
}

.status-content .bottom{
  float: left;
  width: 100%;
  color: gray;
  display: none;
}

#wrap-read-more{ 
  float: left;
  width: 100%;
}

#read-more{ 
  width: 100%;
  height: 50px;
}