@charset "utf-8";

/* --------------------------------------------------
   users.sent_tweets
-------------------------------------------------- */

/* --------------------------------------------------
   date-list 
-------------------------------------------------- */
#date-list{ 
  float: left;
  width: 200px;
  font-size: 14px;
}

#date-list li{
  float: left;
  width: 100%;
  height: 20px;
  border-top: 1px 
  rgba(255, 255, 255, 0.7) solid;
  border-bottom: 1px 
  rgba(0, 0, 0, 0.15) solid;
  color: #624811;
  text-shadow: 0 1px 0 
  rgba(255, 255, 255, 0.6);
  zoom: 1;
}

.toggle{
  float: left;
  width: 14px;
}
.wrap-years{ 
  float: left;
  width: 200px;
  margin: 0 0 0 10px;
}
.wrap-months{ 
  float: left;
  width: 190px;
  margin: 0 0 0 10px;
}
.wrap-days{ 
  float: left;
  width: 180px;
  margin: 0 0 0 10px;
 }

.status-sum{ 
  float: right;
}

/* --------------------------------------------------
   wrap-each-status
-------------------------------------------------- */

#wrap-each-status{ 
  float: left;
  clear: both;
  width: 500px;
  font-size: 14px;
}

.profile-image{ 
  float: left;
  width: 58px;
  height: 58px;
  padding: 10px;
}
.profile-image .viewport{
  width: 48px;
  height: 48px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
}
.status-content{ 
  float: left;
  width: 412px;
  padding: 10px 10px 10px 0;
}
.status-content .top .date{ 
  float: right;
 }
.status-content .text{ 
  float: left;
  width: 100%;
  padding: 10px 10px 10px 0;
 }
.status-content .top{ 
  float: left;
  width: 100%;
}
.status-content .bottom{
  float: left;
  width: 100%;
}