@charset "utf-8";

/* --------------------------------------------------
   users.sent_tweets
-------------------------------------------------- */

/* --------------------------------------------------
   dashbord
-------------------------------------------------- */
#dashbord{ 
  float: left;
  width: 200px;
}

#timeline-type-list{ 
  float:left;
  width: 100%;
  font-size: 11px;
}

#timeline-type-list li{ 
  float: left;
  width: 33%;
  height: 20px;
  line-height: 20px;
 }

#date-list{ 
  float: left;
  width: 100%;
  font-size: 14px;
}

#date-list li{ 
  float: left;
  width: 100%;
}

#date-list li .link{ 
  float: left;
  width: 170px;
  height: 40px;
  cursor: pointer;
  line-height: 40px;
  padding: 0 5px 0 10px;
}

#date-list li .link:hover{ 
  background: #e8e0cf;
}

.wrap-years{ 
  width: 200px;
  float: left;
  display: block;
}

.wrap-months{ 
  width: 190px;
  float: left;
  margin: 0 0 0 10px;
}

.wrap-days{ 
  width: 180px;
  float: left;
  margin: 0 0 0 10px;
}

.toggle{
  float: left;
  width: 14px;
  cursor: pointer;
}

.box-for-toggle{ 
  float: left;
  width: 100%;
  display: none;
}

.status-sum{ 
  float: right;
}

/* --------------------------------------------------
   contents main
-------------------------------------------------- */
#wrap-main{ 
  float: left;
  width: 500px
}

#wrap-each-status{ 
  float: left;
  clear: both;
  width: 500px;
  font-size: 14px;
  border-top: solid 1px #fefefe;
  border-bottom: solid 1px #d7d7d7;  
  background: #f2eee6;
}

#wrap-each-status:hover{
  background: #e8e0cf;
}

.profile-image{ 
  float: left;
  width: 58px;
  height: 58px;
  padding: 10px;
}
.profile-image .viewport{
  width: 48px;
  height: 48px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
}

.status-content{ 
  float: left;
  width: 412px;
  padding: 10px 10px 10px 0;
  color: #49360D;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
}

.status-content .top .date{ 
  float: right;
}
.status-content .text{ 
  float: left;
  width: 100%;
  padding: 10px 10px 10px 0;
  line-height: 20px;
  cursor: pointer;
 }
.status-content .top{ 
  float: left;
  width: 100%;
}
.status-content .bottom{
  float: left;
  width: 100%;
  color: gray;
  display: none;
}

.wrap-read-more{ 
  float: left;
  width: 100%;
}