@charset "utf-8";

/* --------------------------------------------------
   users.login
-------------------------------------------------- */
#wrap-login{ 
  width: 100%;
  float: left;
}

.wrap-explain{ 
  float: right;
  width: 300px;
  margin: 50px 10px 0 0;
}

.wrap-explain p{ 
 padding: 0 0 0 5px; 
}

#wrap-login .brand{ 
  width: 100%;
  font-size: 30px;
  float: left;
  //text-align: center;
  font-family: 'Emblema One', cursive;
}

#wrap-login .wrap-btn-auth{
  width: 300px;
  margin: 10px 0 0 0;
}

.btn-auth:link,
.btn-auth:visited{
  background: #39D url(../img/bg-btn-blue.png) repeat-x 0 0;
  border: 1px solid #39D;
  color: #FFF;
  font-weight: 700;
  margin: 0 5px 0 0;
  padding: 4px 10px 5px;
  text-shadow: 0 -1px 0 #39D;
  text-decoration: none;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
  border:none;
}

.btn-auth:active{
  position: relative;
  top:1px;
  moz-box-shadow: none;
  webkit-box-shadow: none;
  border:none;
}